body {
    font-family: 'Trebuchet MS', 'sans-serif';
    background-color: rgb(15, 117, 15);
    text-align: center;
    color: white;
    font-weight: bold;
}

h1 {
    color: goldenrod;
    font-size: 3rem;
    margin: 3rem 0rem 2rem 0rem;
}

#message-el {
    font-size: 1.75rem;
    font-style: italic;
}

#player-el {
    font-size: 1.75rem;
}

.info-section {
    font-size: 1.25rem;
}

.new-stand > button {
    margin: .75rem;
}

.btns {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

#start-btn {
    color: rgb(12, 88, 12);
    background-color: goldenrod;
    border: none;
    font-weight: bold;
    font-size: 1.75rem;
    border-radius: 3px;
    padding: .5rem 0rem;
    width: 15rem;
    margin-top: 2rem;
    cursor: pointer;
    box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, .3);
}
#start-btn:active {
    transform: scale(.98);
}
#newCard-btn {
    color: rgb(12, 88, 12);
    background-color: goldenrod;
    border: none;
    font-weight: bold;
    font-size: 1.75rem;
    border-radius: 3px;
    padding: .5rem 0rem;
    width: 12rem;
    margin-top: 2rem;
    cursor: pointer;
    box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, .3);
}
#newCard-btn:active {
    transform: scale(.98);
}
#stand-btn {
    color: rgb(12, 88, 12);
    background-color: goldenrod;
    border: none;
    font-weight: bold;
    font-size: 1.75rem;
    border-radius: 3px;
    padding: .5rem 0rem;
    width: 12rem;
    cursor: pointer;
    box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, .3);
}
#stand-btn:active {
    transform: scale(.98);
}
#reset-btn {
    color: rgb(255, 255, 255);
    background-color: rgb(163, 34, 17);
    border: none;
    font-weight: bold;
    font-size: 1.75rem;
    border-radius: 3px;
    padding: .5rem 0rem;
    width: 10rem;
    margin: 2rem auto;
    cursor: pointer;
    box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, .3);
}
#reset-btn:active {
    transform: scale(.98);
}

.ace-btns {
    margin: -2rem auto;
}

#ace1 {
    color: rgb(255, 255, 255);
    background-color: rgb(5, 3, 2);
    border: none;
    font-weight: bold;
    font-size: 1.75rem;
    border-radius: 3px;
    padding: .5rem 0rem;
    width: 5rem;
    margin: 2rem 1rem;
    cursor: pointer;
    box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, .3);
}
#ace1:active {
    transform: scale(.98);
}
#ace11 {
    color: rgb(255, 255, 255);
    background-color: rgb(5, 3, 2);
    border: none;
    font-weight: bold;
    font-size: 1.75rem;
    border-radius: 3px;
    padding: .5rem 0rem;
    width: 5rem;
    margin: 2rem 1rem;
    cursor: pointer;
    box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, .3);
}
#ace11:active {
    transform: scale(.98);
}